@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.temizlikci {
	clear: both;
}
.container {
	width: 960px;
	height: auto;
	margin: auto;
}
.container2 {
	width: 100%!important;
	height: auto;
	margin: auto;
}
.menu {
	width: 760px;
	height: 130px;
	float: left;
	line-height: 130px;
}
.logo {
	width: 200px;
	height: 130px;
	float: left;
	line-height: 130px;
	text-align: left;
}
.menu ul li {
	list-style: none;
	float: right;
	text-align: right;
	width: 90px;
	height: 130px;
	display: block;
}
.menu ul li a {
	text-decoration: none;
	color: #bebebe;
	font-family: 'Montserrat', sans-serif;
}
.menu ul li a:hover {
	color: black;
	text-decoration: underline;
}
.we-are-celmo-container {
	width: 960px;
	height: 365px;
	float: left;
}
.we-are-celmo-inside-minicont {
	height: 365px;
	text-align: center;
	background-color: #ffe1bd;
	width: 97%;
	float: left;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 500;
}
.line {
	width: 47px;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #000;
}
h5 {
	font-size: 20px;
	font-weight: 300px;
	font-family: 'Montserrat', sans-serif;
}
.get-in-touch-btn {
	width: 142px;
	height: 40px;
	background-color: #000;
	border-radius: 25px;
	margin-top: 65px;
	margin-bottom: 90px;
	margin-left: auto;
	margin-right: auto;
}
.touch-btn-written {
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100px;
	font-size: 15px;
}
.touch-btn-written :hover {
	color: #FFE1BD
}
.background-color-purple {
	background-color: #FFE1BD
}
.dikey-uc-nokta {
	width: 3%;
	height: 365px;
	float: right;
	line-height: 365px;
}
.baslik-yazilari-container {
	width: 960px;
	height: 195px;
	text-align: center;
	float: left;
}
.baslik-yazilari {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: lighter;
	line-height: 195px;
}
.capraz-kare-containerler {
	width: 960px;
	height: 480px;
	float: left;
}
.capraz-cont-gorsel {
	width: 470px;
	height: 470px;
	float: left;
	margin: 5px;
}
.capraz-cont-yazilar {
	width: 405px;
	height: 470px;
	float: left;
}
.capraz-kare-cont-bosluk {
	width: 70px;
	height: 470px;
	float: left;
}
.kitchen {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: bold;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: light;
	color: #8e8e8e;
}
.learn-more-btn {
	width: 142px;
	height: 40px;
	border-radius: 25px;
	border: #dbdbdb thin solid;
	margin-top: 65px;
	float: left;
}
.learn-more-btn-written {
	text-align: center;
	line-height: 40px;
	color: #000;
}
.capraz-cont-yatay-bosluk {
	float: left;
	width: 960px;
	height: 80px;
}
.dikey-container {
	width: 305px;
	height: 820px;
	float: left;
}
.margin-bottom-22 {
	margin-bottom: 22px;
}
.margin-left-right-22 {
	margin-left: 22px;
	margin-right: 22px;
}
.kare-kutu {
	width: 305px;
	height: 305px;
}
.dikey-kutu {
	width: 305px;
	height: 495px;
}
.learn-more-black-btn {
	width: 142px;
	height: 40px;
	border-radius: 25px;
	background-color: #000;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
}
.learn-more-black-btn-written {
	text-align: center;
	line-height: 40px;
	color: #fff;
}
.uc-yuvarlakli-container {
	width: 100%;
	height: auto;
	text-align: center;
}
.backgroun-color-purple {
	background-color: #ffe1bd;
}
.width-100 {
	width: 100%;
}
.baslik-yazilari-container {
	width: 960px;
	height: 195px;
	text-align: center;
	float: left;
}
.baslik-yazilari-container-100 {
	width: 100%;
	height: 195px;
	text-align: center;
	float: left;
}
.uc-yuvarlak-mini-cont {
	width: 20%;
	height: 405px;
	float: left;
}
.arrow-left {
	width: 20%;
	height: 405px;
	float: left;
}
.arrow-right {
	width: 20%;
	height: 405px;
	float: left;
}
.yuvarlak-foto {
	width: 141px;
	height: 141px;
	border-radius: 50%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
.frank-sims-container {
	width: 410px;
	height: 160px;
	float: left;
	margin-right: 70px;
}
.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.client-says-imgs {
	width: 224;
	height: 117px;
	float: left;
}
.margin-right-20px {
	margin-right: 20px;
}
.yatay-uc-nokta {
	width: 65px;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
}
.color-white {
	color: #fff;
}
.background-color-black {
	background-color: #000;
}
.buyuk-footer-container {
	width: 100%;
	height: 400px;
	background-color: #000;
	text-align: center;
}
.footer-container {
	width: 390px;
	height: 400px;
	float: left;
}
.footer-ara-bosluk {
	width: 105px;
	height: 400px;
	;
	float: left;
}
.iletisim-ikonlar {
	width: 13px;
	height: 140px;
	float: left;
}
.line-height-50px {
	line-height: 50px;
}
.margin-left-5 {
	margin-left: 35px;
}
.social-icons-cont {
	width:300px;
	height: 45px;
	float: left;
}
.written-line {
	width: 385px;
	height: 1px;
	background-color: #898E8E;
	margin-top: 10px;
}
.background-color-white {
	background-color: #fff;
}
.submit-white-btn {
	width: 142px;
	height: 40px;
	background-color: #fff;
	border-radius: 25px;
	margin-top: 65px;
	margin-bottom: 90px;
	float: left;
}
.submit-white-btn-written {
	color: #000;
	text-align: center;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100px;
	font-size: 15px;
}
.all-rights-reserved {
	width: 100%;
	height: 112px;
	text-align: center;
}
.all-rights-img {
	width: 114px;
	height: 42px;
	margin: auto;
	margin-top: 35px;
}
/*index bitiş-----about başlangıç----*/

.gri-cizgi {
	width: 100%;
	height: 2px;
	background-color: #BEBEBE;
}
.we-create-min-cont {
	width: 550px;
	height: 788px;
	float: left;
}
.we-create-min-cont-written {
	width: 405px;
	height: 788px;
	float: left;
	text-align: left;
}
.font-size-33 {
	font-size: 33px;
}
.margin-top-0 {
	margin-top: 0px;
}
.instagram-container {
	width: 100%;
	padding: 10px;
	height: auto;
}
.istatistic-mini-cont {
	width: 21%;
	height: 75px;
	float: left;
	margin: 40px 100px;
}
.instagram-img {
	width: 19.4%;
	height: 19.4%;
	float: left;
	margin: 4px
}
.padding-left-right-10px {
	padding-left: 10px;
	padding-right: 10px;
}
.margin-right-10px {
	margin-right: 10px;
}
.text-align-center {
	text-align: center;
}
.margin-left-right-auto {
	margin-left: auto!important;
	margin-right: auto!important;
}
.margin-auto {
	margin: auto;
}
.baslik-yazilari-container-whith-btn {
	width: 960px;
	height: 120px;
	margin: auto;
}
.padding-left-10px {
	padding-left: 10px;
}
.follow-btn {
	width: 142px;
	height: 40px;
	border-radius: 25px;
	border: #dbdbdb thin solid;
	margin: auto;
	margin-top: 70px;
}
.best-price-container {
	width: 100%;
	height: 170px;
}
.best-price-mini-conts-305 {
	width: 305px;
	height: 170px;
	float: left!important;
}
.best-price-mini-conts-158 {
	width: 158px;
	height: 170px;
	float: left!important;
}
.best-price-mini-conts-185 {
	width: 150px;
	height: 170px;
	float: left!important
}
.best-price-written {
	font-size: 25px;
	font-weight: lighter;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: left;
	line-height: 170px;
}
.tire {
	width: 50px;
	height: 2px;
	background-color: #fff;
	float: left;
	text-align: left;
	margin-top: 80px;
}
.dolar-written {
	font-size: 33px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-align: left;
	line-height: 170px;
}
.event {
	font-size: 25px;
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	color: #8e8e8e;
	text-align: left;
	line-height: 170px;
}
.color-black {
	color: #000;
}
.menu2 {
	width: 600px;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}
.menu2 ul li {
	list-style: none;
	float: left!important;
	text-align: right;
	width: 120px;
	height: 30px;
	display: block;
}
.menu2 ul li a {
	text-decoration: none;
	color: #bebebe;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.menu2 ul li a:hover {
	color: black;
	text-decoration: underline;
}
.menu3 {
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}
.menu3 ul li {
	list-style: none;
	float: left!important;
	text-align: right;
	width: 60px;
	height: 30px;
	display: block;
}
.menu3 ul li a {
	text-decoration: none;
	color: #bebebe;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.menu3 ul li a:hover {
	color: black;
	text-decoration: underline;
}
.work-big-img {
	width: 800px;
	height: 520px;
	margin: auto;
}
.social-min-cont {
	width: 250px;
	height: 40px;
	float: left;
	margin-top:80px;
	margin-bottom:80px;
}
.related-works {
	width: 33%;
	height: 350px;
	float: left;
}
.width-34{width:34;}

.font-size-30 {
	font-size: 30px;
}
.menu4 {
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}
.menu4 ul li {
	list-style: none;
	float: left!important;
	text-align: right;
	width: 150px;
	height: 30px;
	display: block;
}
.menu4 ul li a {
	text-decoration: none;
	color: #bebebe;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.menu4 ul li a:hover {
	color: black;
	text-decoration: underline;
}
.inner-big-img{width:635px;height:400px;
margin:auto;}
.px-40-hairline{font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight:lighter;}
.line-50{width:50px;
height:2px;
background-color:#000;
margin-bottom: 35px;
float: left;}

.font-size-15px{font-size:15px;}
.ilesitism-icon{width:12px;
height:19px;}
.margin-bottom-55px{margin-bottom:
41px;}
.social-cont{width:56px;
height:34px;
float: left;}

.harita-container{width:1170px;
	height:376px;
margin: auto;}
.touch-btn-written a{text-decoration: none;
	color: #bebebe;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;}
	.learn-more-btn-written a{text-decoration: none;
	color: #bebebe ;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;}
	
	.learn-more-black-btn-written a{text-decoration: none;
	color: #bebebe ;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;}
	.learn-more-btn-written a{text-decoration: none;
	color: #bebebe ;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;}
